.nav {
  padding: 1rem 2rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 2px solid;
  z-index: 1;
  background-color: var(--light-color);
}

.logo {
  gap: 0.5rem;
}

.nav-right {
  gap: 2rem;
}
