.sidebar {
  position: fixed;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 3rem 1rem;
  gap: 2.5rem;
}

@media screen and (max-width: 900px) {
  .sidebar {
    top: 6.5rem;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    top: 6.5rem;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    padding: 1rem 3rem;
  }
}
